<div class="flex flex-col w-11/12 mx-auto mb-10 nm-flat-white-xl rounded-xl p-4">
<!-- 
    <button class="button my-10 w-48 mx-auto" (click)="createProduct()">Crear!</button> -->
    <form  #userForm="ngForm" class="card card--gray flex flex-col justify-around p-4 mb-10" style="height: 500px;">
            <!-- @if(baseProduct.base_product_id != 0){
                <p class="text-start mb-2">ID producto base: {{baseProduct.base_product_id}}</p>
            }@else {
                <p class="text-start mb-2">Agregar nuevo producto</p>
            } -->
            <div class="" style="height: 300px;">   
                <div class="w-full flex" >
                    <div class="input-group input-group--soft w-1/3">
                        <input  
                            name="name" 
                            [(ngModel)]="baseProduct.name" 
                            class="input"
                            #name="ngModel"
                            required
                        >
                        <label for="" class="placeholder">Nombre</label>
                        @if (name.invalid && (name.dirty || name.touched)) {
                            @if(name.errors!['required']){
                                <div class="input-error">
                                    Requerido
                                </div>
                                }
                            }
                    </div>  
                    <div class="input-group input-group--soft w-1/3">
                        <input  
                            name="description" 
                            [(ngModel)]="baseProduct.description" 
                            class="input"
                            #description="ngModel"
                            required
                        >
                        <label for="" class="placeholder">Descripcion</label>
                        @if (name.invalid && (name.dirty || name.touched)) {
                            @if(name.errors!['required']){
                                <div class="input-error">
                                    Requerido
                                </div>
                                }
                            }
                    </div>  
                    <div class="flex justify-between w-1/3">
                        <div class="input-group input-group--soft">
                            <input  
                                name="price" 
                                [(ngModel)]="baseProduct.base_price" 
                                class="input"
                                #price="ngModel"
                                required
                            >
                            <label for="" class="placeholder">Precio base</label>
                            @if (name.invalid && (name.dirty || name.touched)) {
                                @if(name.errors!['required']){
                                    <div class="input-error">
                                        Requerido
                                    </div>
                                    }
                                }
                        </div> 
                        <select class="button text-slate-600" style="height: 32px;"  name="brand" id="brand" [(ngModel)]="selectedBrand">
                            <option value="" disabled selected>Marca</option>
                            <option *ngFor="let brand of brandList" [value]="brand.brand_id">
                                {{brand.name}}
                            </option>
                        </select>
                    </div>
                </div>


                <div class="flex justify-between " style="height: 200px;">
                    <div class="w-1/3 flex card p-4"  style="height: 200px;">
                        <div class="w-2/3">
                            @for (category of baseProduct.categoryList; track $index) {
                                <p>{{category.name}} <span (click)="removeCategory(category)"><i class="fa-solid fa-xmark"></i></span></p>
                            }
                           
                        </div>
                        <select class="button text-slate-600 h-8"   name="category" id="category" [(ngModel)]="selectedCategory">
                            <option value="" disabled selected>Categoria</option>
                            <option *ngFor="let category of categoryList" [value]="category.category_id" id="{{category.name}}">
                                {{category.name}}
                            </option>
                        </select>
                        <button class="button h-8" (click)="addCategory()">Agregar</button>
                    </div>
                    <div class="input-group input-group--soft input-group--text-area w-1/3 " style="height: 200px;">
                        <textarea 
                            name="chars" 
                            [(ngModel)]="baseProduct.chars"
                            class="input input--text-area" 
                            #chars="ngModel"
                            required
                        ></textarea>
                        <label for="" class="placeholder">Caracteristicas</label>
                        @if (name.invalid && (name.dirty || name.touched)) {
                            @if(name.errors!['required']){
                                <div class="input-error">
                                    Requerido
                                </div>
                                }
                            }
                    </div>  
                    <div class="input-group input-group--soft input-group--text-area w-1/3"  style="height: 200px;">
                        <textarea  
                            name="specs" 
                            [(ngModel)]="baseProduct.specs" 
                            class="input input--text-area"
                            #specs="ngModel"
                            required
                        ></textarea>
                        <label for="" class="placeholder">Especificaciones</label>
                        @if (name.invalid && (name.dirty || name.touched)) {
                            @if(name.errors!['required']){
                                <div class="input-error">
                                    Requerido
                                </div>
                                }
                            }
                    </div>  
                </div>
            </div>

            <div class="nm-inset-white-lg rounded-xl p-4" style="height: 200px;">
                <!-- <p class="mb-2 text-slate-400">Galeria de imagenes</p> -->
                <div class="flex mb-2 h-2/3 flex-wrap justify-start">
                    @for (baseProductImage of baseProduct.baseProductImageList; track $index) {
                        <div class="w-36  nm-flat-white-xs mr-2 bg-slate-400 overflow-hidden relative">
                            <img src="{{baseProductImage.url}}" alt="">
                            <button class="absolute bottom-0" (click)="removeImage(baseProductImage)"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    }
                </div>
               <div class="flex w-full h-1/3">
                    <div class="input-group  w-2/3">
                        <input  
                            name="url" 
                            [(ngModel)]="baseProductImage.url" 
                            class="input"
                            #url="ngModel"
                            required
                        >
                        <label for="" class="placeholder">Url</label>
                    </div> 
                    <button class="button w-1/5" style="height: 40px;" (click)="addImage()">Agregar imagen</button>
               </div>
            </div> 
    </form>

    <div class="w-2/3">
        <!-- <p class="text-start ml-2 mb-2">Variaciones de producto</p> -->
        @for (colorVariantProduct of baseProduct.colorVariantProductList; track $index) {
            <form class="card card--gray mb-8 p-4" action="">
                <div class="">   
                    @if(baseProduct.base_product_id == 0){
                        <div class="flex">
                            <p>Seleccione color: </p>
                            <select class="button text-slate-600"   name="color" id="color" [(ngModel)]="colorVariantProduct.color.color_id">
                                <!-- <option value="" disabled selected>Color</option> -->
                                <option *ngFor="let color of colorList" [value]="color.color_id">
                                    {{color.name}}
                                </option>
                            </select>
                        </div>
                    }@else {
                        <p class="">Color: {{colorVariantProduct.color.name}}</p>
                    }
                  
                    <div class="nm-inset-white-lg rounded-xl p-4 mb-4">
                        <!-- <p class="mb-2 h-36 text-slate-400">Galeria de imagenes</p> -->
                        <div class="flex flex-wrap justify-start mb-2 h-36">
                            @for (colorVariantProductImage of colorVariantProduct.colorVariantProductImageList; track $index) {
                                <div class="w-36 h-36 nm-flat-white-xs mx-2 bg-slate-400 overflow-hidden relative">
                                    <img src="{{colorVariantProductImage.url}}" alt="">
                                    <button class="absolute bottom-0" (click)="removeColorVariantProductImage(colorVariantProductImage, colorVariantProduct)"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            }
                        </div>
                        <div class="flex w-full items-start">
                            <div class="input-group input-group--soft w-2/3">
                                <input  
                                    name="url" 
                                    [(ngModel)]="colorVariantProductImage.url" 
                                    class="input"
                                    #url="ngModel"
                                    required
                                >
                                <label for="" class="placeholder">Url</label>
                            </div> 
                            <button (click)="addColorVariantProductImage(colorVariantProduct)" class="button w-1/5" style="height: 36px;">Agregar imagen</button>
                       </div>
                    </div>
                    <div class="card mb-4">
                        <table class="table w-full">
                            <thead class="table-thead">
                                <tr>
                                    <th class="table-th">Talla </th>
                                    <th class="table-th">Precio final </th>
                                    <th class="table-th">Descripcion </th>
                                    <th class="table-th">Caracteristicas </th>
                                    <th class="table-th">Especificaciones </th>
                                    <th class="table-th">Stock</th>
                                </tr>
                                
                            </thead>
                            
                            <tbody>
                               

                                    @for (finalProduct of colorVariantProduct.finalProductList; track $index) {
                                        @if(baseProduct.base_product_id != 0 || $index != colorVariantProduct.finalProductList.length - 1){
                                            <tr class="table-tr">
                                                <td class="table-td">{{finalProduct.size.name}}</td>
                                                <td class="table-td">{{finalProduct.final_price}}</td>
                                                <td class="table-td">Idem</td>
                                                <td class="table-td">Idem</td>
                                                <td class="table-td">Idem</td>
                                                <td class="table-td">{{finalProduct.stock}}</td>
                                            </tr>
                                        }
                                      
                                    }
                                    @if(baseProduct.base_product_id ==0){
                                        <tr class="table-tr">
                                            <td class="table-td">
                                                <div class="flex">
                                                    <select class="button text-slate-600 w-16"   name="size" id="size" [(ngModel)]="colorVariantProduct.finalProductList[colorVariantProduct.finalProductList.length - 1].size.size_id">
                                                        <option value="" disabled selected>Seleccionar</option>
                                                        <option *ngFor="let size of sizeList" [value]="size.size_id">
                                                            {{size.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="table-td">
                                                <input  
                                                        type="number"
                                                        name="finalPrice" 
                                                        [(ngModel)]="colorVariantProduct.finalProductList[colorVariantProduct.finalProductList.length - 1].final_price" 
                                                        class="nm-inset-white rounded-xl h-8 p-2 w-24"
                                                        #finalPrice="ngModel"
                                                        required
                                                    >  
                                            </td>
                                            <td class="table-td">Idem</td>
                                            <td class="table-td">Idem</td>
                                            <td class="table-td">Idem</td>
                                            <td class="table-td">
                                                <input  
                                                        type="number"
                                                        name="stock" 
                                                        [(ngModel)]="colorVariantProduct.finalProductList[colorVariantProduct.finalProductList.length - 1].stock" 
                                                        class="nm-inset-white rounded-xl h-8 p-2 w-16"
                                                        #stock="ngModel"
                                                        required
                                                    >  
                                                    <button (click)="addSize(colorVariantProduct)" class="button">
                                                        Agregar
                                                    </button>
                                            </td>
                                        </tr>
                                    }
                                   
                                    
                            </tbody>
                            
                            
                        </table>
                    </div>
                </div>
            </form>
        }
       <button (click)="addColorVariantProductForm()" class="button">Nueva variacion de color</button>
    </div>
</div> 