<div class=" relative  nm-flat-white-sm z-10">
    <div class="flex h-36  md:h-16 md:mx-auto limit-content justify-between" id="navbarContent">

        <div class="w-1/2 flex justify-start h-20 items-center pl-6 md:w-1/12 md:h-auto" id="logoBar" [ngClass]="{'md:w-3/12': (showAdminPanel)}">
            <!-- Logo -->
            <a class="flex" href="" >
                <img class="w-10" src="../../../assets/img/main-logo.png"  alt="">
                <p class="movile-hidden mr-2">Empresa</p>
            </a>
        </div>
    
       @if(!showAdminPanel){
        <div class="absolute top-24  w-full h-16 md:static md:flex md:items-center md:w-3/12 " id="searchBar">
            <!-- Buscador -->
            <form class="nm-inset-gray-100 rounded-full mx-auto w-4/5 h-10 flex justify-center items-center md:w-11/12" action="">
                <input class="w-full pl-3 bg-transparent outline-none"  type="text">
                <button class="w-1/12">
                    <i class="opacity-40 fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
       }
        
        <div id="menuNode" #menuNode class="z-10 absolute left-[-1000px] top-20 transition-all w-full md:static md:w-5/12 md:h-max hiddenMenu" [ngClass]="{'md:w-6/12': (showAdminPanel)}">
             <!-- Categorias -->
            <p class="text-center font-bold md:hidden my-2">CATEGORIAS</p>
            <ul class="md:flex md:h-16 md:justify-center categoryContainer">
                <li *ngFor="let category of categoryList; let i = index" class="category-item pl-4 shadow md:shadow-none py-2 md:h-16  md:hover:bg-gray-100 md:flex md:items-center md:px-4">
                    @if (showAdminPanel) {
                        <p class="font-bold text-blue-600 hover:cursor-pointer" (click)="adminPanelNavigate(category.categoryName)">{{category.categoryName.name}}</p>
                    }@else {
                        <p class="font-bold " (click)="showSubCategory(category.categoryName.name)">{{category.categoryName.name}}</p>
                    }
                    <ul id="{{category.categoryName.name}}" 
                        class="mobile-hidden md:flex md:w-screen md:h-0 md:opacity-0 md:-z-10 md:justify-center md:items-center md:absolute md:top-16 md:left-0 nm-flat-white-lg" 
                        [ngClass]="{'subcategory-container': (!showAdminPanel)}">
                        <li class="subcategory-item" *ngFor="let subCategory of category.subCategoryList">
                            <a (click)="menu()" (click)="filter(category.categoryName, subCategory)" class="md:font-bold mx-4 cursor-pointer  md:hover:text-blue-300">
                                {{subCategory.name}}
                            </a>
                        </li>  
                    </ul>
                </li>
            </ul>
        </div>
    
        <div id="cartNode" #cartNode class="z-10 absolute left-[-1000px] top-20 transition-all p-2 w-full hiddenMenu py-2 md:hidden">
            <!-- carrito MOBILE-->
            <cart></cart>
        </div>
        
        <div class="w-1/2 flex justify-between items-center h-20 pr-6 md:w-3/12 md:h-auto" id="userBar" >
            <div class="user relative md:w-1/2 md:flex md:items-center md:hover:bg-gray-100  md:h-16" [ngClass]="{'md:w-full': (showAdminPanel)}">
                <!-- Usuario -->
                @if(login.isAuth){
                    <a (click)="sessionHandler()"><i class="fa-regular fa-user text-2xl"></i></a>
                }@else {
                    <a (click)="navigateLogin()"><i class="fa-regular fa-user text-2xl"></i></a>
                }
                <div class="card absolute flex flex-col justify-center items-center w-48 h-32 z-20 left-[-84px] top-12 md:hidden" id="sessionHandler">
                    <p>Bienvenido {{username}}</p>
                    <button class="button my-2" (click)="handlerLogout()" (click)="sessionHandler()">Cerrar sesion</button>
                    <button class="button my-2" [routerLink]="['/update_user',1]" (click)="sessionHandler()">Actualizar datos</button>
                </div>
    
                @if(login.isAuth){
                    <div class="absolute top-6 md:top-10  left-4 h-4 w-4 nm-inset-green-50-xs rounded-full flex justify-center items-center">
                        <i class="fa-solid fa-check icon-check"></i>
                     </div> 
                 }@else {
                    <div class="absolute top-6 md:top-10  left-4 h-3 w-3 nm-inset-red-100 rounded-full flex justify-center items-center">
                        <p class=" icon-check">x</p>
                     </div>
                 }
                <div class="mobile-hidden ml-2">
                    <p>{{(login.isAuth)? ('Bienvenido ' + login.user.username): 'No ha iniciado sesion'}}</p>
                    @if(showAdminPanel){<p>ADMINSTRADOR DE SISTEMA</p>}
                </div>
                <div class="user-modal absolute top-16 h-0 flex justify-center" (click)="clickInLogin = true" [ngClass]="{'left-0': (showAdminPanel)}">
                    @if(login.isAuth){
                        <div class="isLogged hidden card  flex-col justify-center items-center w-4/5 h-48">
                            <button class="button my-4" (click)="handlerLogout()">Cerrar sesion</button>
                            <button class="button my-4"[routerLink]="['/update_user',login.user.id]" >Actualizar datos</button>
                            @if(admin){
                                <button class="button my-4" (click)="adminPanel()">
                                    @if(showAdminPanel){
                                        <p>Ocultar</p>
                                    }@else {
                                        <p>Mostrar</p>
                                    }
                                    Panel de administracion
                                </button>
                            }
                        </div>
                    }@else {
                        <div class="login hidden" id="userLogin">
                            <login></login>
                        </div>   
                    }
                </div>
            </div>
            @if (!showAdminPanel) {
                <div class="cart relative  md:w-1/2 md:flex md:items-center md:hover:bg-gray-100 md:h-16">
                    <!-- Carrito DESKTOP-->
                    <a (click)="showHiddenCart()"><i class="fa-solid fa-cart-shopping text-2xl"></i></a>
                    <div class="absolute top-6 md:top-10 left-5 h-4 w-4 nm-inset-blue-50-xs rounded-full flex justify-center items-center">
                        @if(cart.items){
                            <p class="icon-check">{{cart.items}}</p>
                        }@else {
                            <p class="icon-check">0</p>
                        }
                        
                     </div> 
                    <div class="mobile-hidden ml-2">
                        <p>Total: {{cart.total}}</p>
                    </div>
                    <div class="cart-modal absolute top-16  h-0 hidden">
                        <cart></cart>
                    </div>
                </div>
            }
            
            <div class="md:hidden">
                <!-- menu hamburgesa -->
                <i class="fa-solid fa-bars text-2xl" (click)="menu()"></i>
            </div>
        </div>
    </div>
    
</div>



























<!-- <div class="flex ">
    <button class="nm-flat-gray-100 w-48 h-10 flex justify-center items-center rounded-full m-8">
        <p>nm-flat-gray-100</p>
    </button>
    <div class="nm-flat-gray-100-lg w-48 h-10 flex justify-center items-center  rounded-full m-8">
        <p>nm-flat-gray-100-lg</p>
    </div>
    <div class="nm-concave-gray-100 rounded-full m-8 flex w-32 h-10  justify-center items-center">
        <p>Concave</p>
    </div>
    <div class="nm-convex-gray-100 w-32 h-10 flex justify-center items-center  rounded-full m-8">
        <p>Convex</p>
    </div>
    <div class="nm-inset-gray-100 w-64 h-10 flex justify-center items-center  rounded-full m-8">
        <p>Nombre</p>
    </div>
    
</div>

<div class="movile-hidden">
    <form class="ml-10 w-96 h-96 flex flex-col justify-around items-center nm-flat-gray-100 rounded-xl">
        <input type="text" placeholder="Usuario" class="nm-inset-gray-100 w-64 h-10  rounded-full">
        <input type="text" placeholder="Contraseña" class="nm-inset-gray-100 w-64 h-10  rounded-full">
        <button class="nm-flat-slate-100 w-32 h-10 rounded-full">Iniciar sesion</button>
    </form>
</div>

<div class="flex flex-wrap md:hidden">
    <button class="nm-flat-rose-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p>rose</p>
    </button>
    <button class="nm-flat-fuchsia-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p>fuchsia</p>
    </button>
    <button class="nm-flat-purple-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p>purple</p>
    </button>
    <button class="nm-flat-violet-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p>violet</p>
    </button>
    <button class="nm-flat-indigo-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p>indigo</p>
    </button>
    <button class="nm-flat-blue-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">blue</p>
    </button>
    <button class="nm-flat-sky-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">sky</p>
    </button>
    <button class="nm-flat-cyan-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">cyan</p>
    </button>
    <button class="nm-flat-teal-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">teal</p>
    </button>
    <button class="nm-flat-emerald-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">emerald</p>
    </button>
    <button class="nm-flat-green-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">green</p>
    </button>
    <button class="nm-flat-lime-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">lime</p>
    </button>
    <button class="nm-flat-yellow-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">yellow</p>
    </button>
    <button class="nm-flat-amber-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">amber</p>
    </button>
    <button class="nm-flat-orange-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">orange</p>
    </button>
    <button class="nm-flat-red-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">red</p>
    </button>
    <button class="nm-flat-stone-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">stone</p>
    </button>
    <button class="nm-flat-neutral-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">neutral</p>
    </button>
    <button class="nm-flat-zinc-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">zinc</p>
    </button>
    <button class="nm-flat-gray-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">gray</p>
    </button>
    <button class="nm-flat-slate-100 w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">slate</p>
    </button>
    <button class="nm-flat-white-xl w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">white-xl</p>
    </button>
    <button class="nm-flat-black-xl w-10 h-10 flex justify-center items-center rounded-full m-8">
        <p class="text-xs">blak-xl</p>
    </button>
</div> -->