<div class="w-11/12 mx-auto limit-content my-5 md:my-0 ">
    <div class="card md:flex mb-10 ">

        <div class="carousel relative w-full md:w-1/2 md:mx-auto mb-8 md:mb-0 shadow" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
            <!-- Imagenes -->
            <div class="carousel-inner relative overflow-hidden w-full ">
              <div
                *ngFor="let image of ImageUrlList; let i = index"
                class="carousel-item absolute opacity-0 w-full transition-opacity duration-1000"
                id="viewPort" #viewPort
                [class.opacity-100]="i === currentIndex">
                <img [src]="image" class="img-detail">
                <!-- [class.h-full]="" -->
              </div>
            </div>

           @if(ImageUrlList.length > 1){
            <button
            class="opacity-0 md:opacity-100 prev absolute top-1/2 left-0 transform -translate-y-1/2 px-4 py-2 bg-gray-700 text-white"
            (click)="prev()">
            &#10094;
          </button>

          <button
            class="opacity-0 md:opacity-100 next absolute top-1/2 right-0 transform -translate-y-1/2 px-4 py-2 bg-gray-700 text-white"
            (click)="next()">
            &#10095;
          </button>

          <div class="flex flex-row justify-center mt-2 md:relative top-[-48px]">
              <div *ngFor="let image of ImageUrlList; let i = index"
               class="w-3 h-3  rounded-full mx-2 hover:cursor-pointer mobile-hidden" [class.nm-inset-blue-100]="i === currentIndex" [class.nm-inset-gray-100]="i != currentIndex" (click)="selectedImageIndex(i)"></div>
          </div>

          <div class="flex flex-row justify-center md:hidden">
              <div *ngFor="let image of ImageUrlList; let i = index"
               class="w-3 h-3  rounded-full mx-2" [class.nm-flat-blue-100]="i === currentIndex" [class.nm-flat-gray-100]="i != currentIndex" (click)="selectedImageIndex(i)"></div>
          </div>
           }

        </div>

        <div class="p-6 md:w-1/2">
            <div class="mb-6">
                <p><span class="font-bold">{{baseProduct.brand.name}} </span>{{baseProduct.description}}</p>
                <p class="font-bold">{{formatCurrency(baseProduct.base_price) }}</p>
            </div>

            @if(colorList[0].color_id != 1){
                <div class="mb-6">
                    @if(selectedColor.color_id){
                        <p class="mb-2">Color seleccionado: {{selectedColor.name}}</p>
                    }@else {
                        <p class="mb-2">Colores disponibles:</p>
                    }
                    <div>

                        @for (color of colorList; track $index) {
                            <button
                            id="{{color.name}}"
                            class="text-sm font-bold p-1 px-4 rounded-full transition duration-100 transform  active:nm-flat-gray-300 mr-2 w-12 h-7
                            nm-flat-white"
                            (click)="setSelectedColor(color)"
                            >
                        </button>
                        }
                        
                    </div>
                </div>
            }@else {
                <div class="h-20 ">
                    <!-- caja vacia para conservar proporciones -->
                </div>
            }






            @if(sizeList[0].size_id != 28){ 
                <!-- 28 es el id del "sin talla" -->
                <div class="mb-6">
                    @if(selectedSize.size_id){
                        <p class="mb-2">Tallas seleccionada: {{selectedSize.name}}</p>
                    }@else {
                        <p class="mb-2">Tallas disponibles:</p>
                    }
                    <div>
                        <button
                        *ngFor="let size of sizeList"
                        id="{{size.size_id}}"
                        [disabled]="false"
                        class="button mr-2 w-12 h-7"
                        (click)="setSelectedSize(size)"
                        >{{size.name}}</button>
                    </div>
                </div>
            }@else {
                <p class="mb-10">Producto en talla y/o tamaño unico</p>
            }







            <div class="md:flex md:justify-around">
                <div class="mb-6 md:w-1/3">
                    <p class="mr-4 md:hidden">Cantidad</p>
                    <div class="cart-cuantity flex w-32 justify-center items-center ">
                        <button class="w-10 active:text-red-400 " (click)="decrease()">-</button>
                        <p class="w-12 bg-white text-center">{{quantity}}</p>
                        <button class="w-10 active:text-blue-400 " (click)="increase()">+</button>
                    </div>
                </div>

                <div class="mb-6 w-full flex justify-center md:justify-start md:w-1/3">
                    @if(isAuth){
                        <button class="button button--grey w-full" (click)="verifySizeAndColor()">Agregar al carro</button>
                    }@else {
                        <button class="button button--grey w-full" [routerLink]="['/login']">Iniciar session para agregar a carrito</button>
                    }
                </div>
            </div>

            <div class="mb-6">
                <p>Caracteristicas: </p>
                <p>{{baseProduct.chars}}</p>
            </div>

            <div class="mb-6">
                <p>Especificaciones tecnicas: </p>
                <p>{{baseProduct.specs}}</p>
            </div>
        </div>

    </div>

    <!-- IMPLEMENTAR A FUTURO GALERIA DE PRODUCTOS RELACIONADOS -->
    <!-- <div class="mb-6 h-96">
        <p class="mb-2">Productos relacionados</p>
        <div class="slider-container">
            @for (baseProduct of baseProductList; track $index) {
                <div class=" mx-2" style="width: 2000px;">
                    <a [routerLink]="['/product_detail', baseProduct.base_product_id]">
                        <product-card  [baseProduct]="baseProduct"></product-card>
                    </a>
                </div>
            }
        </div>
    </div> -->
</div>