<div class="md:mt-[-40px]">
  <!-- <div class="mierda" *ngFor="let bannerImage of bannerImageList; let i = index">
    
  </div> -->
    <div class="carousel relative w-full mb-12 shadow" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
        <div class="carousel-inner relative overflow-hidden w-full">
          <div
            *ngFor="let bannerImage of bannerImageList; let i = index"
            class="carousel-item absolute opacity-0 w-full transition-opacity duration-1000"
            [class.opacity-100]="i === currentIndex" [ngStyle]="{'background-image': bannerImage.url}">
            <!-- <img [src]="bannerImage.url" class="w-full img-detail"> -->
          </div>
        </div>
    
        <button
          class="opacity-0 md:opacity-100 prev absolute top-1/2 left-0 transform -translate-y-1/2 px-4 py-2 bg-gray-700 text-white"
          (click)="prev()">
          &#10094;
        </button>

        <button
          class="opacity-0 md:opacity-100 next absolute top-1/2 right-0 transform -translate-y-1/2 px-4 py-2 bg-gray-700 text-white"
          (click)="next()">
          &#10095;
        </button>

        <div class="flex flex-row justify-center mt-2 md:relative top-[-40px]">
            <div *ngFor="let bannerImage of bannerImageList; let i = index"
             class="w-3 h-3  rounded-full mx-2 hover:cursor-pointer mobile-hidden" [class.nm-inset-blue-100]="i === currentIndex" [class.nm-inset-gray-100]="i != currentIndex" (click)="hola(i)"></div>  
        </div>

        <div class="flex flex-row justify-center mt-2 md:hidden">
            <div *ngFor="let bannerImage of bannerImageList; let i = index"
             class="w-3 h-3  rounded-full mx-2 hover:cursor-pointer" [class.nm-flat-blue-100]="i === currentIndex" [class.nm-flat-gray-100]="i != currentIndex" (click)="hola(i)"></div>  
        </div>    
    </div>
    <div class="px-6 md:w-11/12 md:mx-auto limit-content">
        <p class="text-center mb-2 md:text-left md:font-bold">Productos destacados</p>
        <div class="product-list">
          @for (baseProduct of baseProductList; track $index) {
            <div class="mb-6 w-full" >
              <a [routerLink]="['/product_detail', baseProduct.base_product_id]">
                <product-card [baseProduct]="baseProduct"></product-card>
              </a>
            </div>
          }

        </div>
    </div>
</div>