    <form class="card mt-20 flex flex-col items-center justify-center h-96 w-4/5 mx-auto md:w-96 md:mt-0" (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="flex flex-col items-center w-4/5 mb-12 md:w-10/12">
            <div class="input-group">
                <input 
                class="input" 
                name="username" 
                [(ngModel)]="user.username"  
                #username="ngModel"
                required
                >
                <label for="" class="placeholder">Usuario</label>
            </div>
            
            <div class="input-group">
                <input 
                type="password"
                class="input"
                name="password" 
                [(ngModel)]="user.password"  
                #password="ngModel"
                required
                >
                <label for="" class="placeholder">Contraseña</label>
            </div>
            

        </div>

        <div class="flex flex-col items-center">
            <button type="submit" class="button mb-2">Iniciar session</button>
            <p class="text-center">¿No tienes cuenta? <a class="text-blue-400" [routerLink]="['/create_user']">Registrate aca</a></p>
        </div>  
    </form>

    
