
<div class="card w-11/12 min-h-96 p-4 mx-auto md:w-3/5  my-20 md:my-0">
    <div class="mb-4 md:mb-8">
        <p class="text-center">Actualizar contraseña</p>
    </div>
    <form class=""  #userForm="ngForm" class="h-full flex flex-col justify-around">
        <div class="flex flex-col items-center ">   
            <div class="input-group">
                <input 
                    type="password" 
                    name="passwordOld" 
                    [(ngModel)]="userOld.password" 
                    class="input"
                    #passwordOld="ngModel"
                    required
                >
                <label for="" class="placeholder">Contraseña actual</label>
                @if (passwordOld.invalid && (passwordOld.dirty || passwordOld.touched)) {
                    @if(passwordOld.errors!['required']){
                        <div class="input-error">
                            Requerido
                        </div>
                        }
                    }
            </div>

            <div class="input-group">
                <input 
                    type="password"
                    name="password" 
                    [(ngModel)]="userNew.password" 
                    class="input"
                    #password="ngModel"
                    required
                    minlength=5
                >
                <label for="" class="placeholder">Contraseña nueva</label>
                @if (password.invalid && (password.dirty || password.touched)) {
                    @if(password.errors!['required']){
                        <div class="input-error">
                            Requerido
                        </div>
                        }
                    @if(password.errors!['minlength']){
                            <div class="input-error--soft">
                            5 caracteres minimo!
                            </div>
                        }
                    }
            </div>
            <div class="input-group">
                <input 
                    type="password"
                    name="password2" 
                    [(ngModel)]="passwordRepeat" 
                    class="input"
                    #password2="ngModel"
                    required
                    minlength=5
                >
                <label for="" class="placeholder">Repita la contraseña</label>
                @if (password2.invalid && (password2.dirty || password2.touched)) {
                    @if(password2.errors!['required']){
                        <div class="input-error">
                            Requerido
                        </div>
                        }
                    }
                @if((userNew.password != passwordRepeat) &&  passwordRepeat!= ''){
                    <div class="input-error--soft">
                        Las contraseñas no son iguales
                    </div>
                }
            </div>
        </div>
        <div class="flex justify-around w-full my-10">
            <button class="button w-1/4 text-center" (click)="onClear(userForm)">Limpiar</button>
            <button class="button w-1/4 text-center" [disabled]="(userForm.invalid || (userNew.password != passwordRepeat))" (click)="updatePassword()">Actualizar</button>
            <button class="button w-1/4 text-center" [routerLink]="['/update_user', 1]">Cancelar</button>
        </div>
    </form>
</div>

