
<div class="card w-11/12 min-h-96 p-4 mx-auto md:w-3/5 ">
    <div class="mb-4 md:mb-8">
        <p>Actualizar contraseña</p>
    </div>
    <form class=""  #userForm="ngForm" class="h-full flex flex-col justify-around">
        <div class="flex flex-col items-center ">   
            <div class="w-full mb-4 md:mb-8">
                <input 
                    type="password"
                    placeholder="Contraseña actual" 
                    name="passwordOld" 
                    [(ngModel)]="userOld.password" 
                    class="input h-8 w-full"
                    #passwordOld="ngModel"
                    required
                >
                @if (passwordOld.invalid && (passwordOld.dirty || passwordOld.touched)) {
                    @if(passwordOld.errors!['required']){
                        <div class="">
                            Contraseña actual es requerida
                        </div>
                        }
                    }
            </div>

            <div class="w-full mb-4 md:mb-8">
                <input 
                    type="password"
                    placeholder="Contraseña nueva" 
                    name="password" 
                    [(ngModel)]="userNew.password" 
                    class="input h-8 w-full"
                    #password="ngModel"
                    required
                    minlength=5
                >
                @if (password.invalid && (password.dirty || password.touched)) {
                    @if(password.errors!['required']){
                        <div class="">
                            Contraseña nueva es requerida
                        </div>
                        }
                    @if(password.errors!['minlength']){
                            <div class="">
                            La contraseña debe de tener al menos 5 caracteres!
                            </div>
                        }
                    }
            </div>
            <div class="w-full mb-6 md:mb-12">
                <input 
                    type="password"
                    placeholder="Repita la contraseña" 
                    name="password2" 
                    [(ngModel)]="passwordRepeat" 
                    class="input h-8 w-full"
                    #password2="ngModel"
                    required
                    minlength=5
                >
                @if (password2.invalid && (password2.dirty || password2.touched)) {
                    @if(password2.errors!['required']){
                        <div class="">
                            Contraseña es requerida
                        </div>
                        }
                    }
                @if((userNew.password != passwordRepeat) &&  passwordRepeat!= ''){
                    <div class="">
                        Las contraseñas no son iguales
                    </div>
                }
            </div>
        </div>
        <div class="flex justify-around w-full mb-10">
            <button class="button w-1/4 text-center" (click)="onClear(userForm)">Limpiar</button>
            <button class="button w-1/4 text-center" [disabled]="(userForm.invalid || (userNew.password != passwordRepeat))" (click)="updatePassword()">Actualizar</button>
            <button class="button w-1/4 text-center" [routerLink]="['/update_user', 1]">Cancelar</button>
        </div>
    </form>
</div>

